<!DOCTYPE html>
<html lang="en" ng-app="AgencyApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Изменение тоаров в заказе</title>
  <link rel="shortcut icon" href="/resources/img/ico.png" type="image/png">
  <script src="/resources/libs/js/jquery-2.1.0.js"></script>
  <script src="/resources/libs/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/resources/libs/css/bootstrap.min.css">
  <link rel="stylesheet" href="/resources/css/fonts.css">
  <link rel="stylesheet" href="/resources/css/main/header.css">
  <link rel="stylesheet" href="/resources/css/product/content.css">
  <link rel="stylesheet" href="/resources/css/main/footer.css">
</head>
<body>
<style>
  * {
    font-family: 'Roboto Slab', serif;
  }
        
  button {
    cursor: pointer;
  }
        
  body {
    padding-top: 20px;
  }
            
  </style>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".js-navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" style="padding-right:100px; margin-left:25px;">Galaxy</a>
      </div>
      <div class="collapse navbar-collapse js-navbar">
        <ul class="nav navbar-nav">
          <li id="main"><a href="/main">Главная</a></li>
          <li class="dropdown">
            <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown">
              Меню
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/main/add-order">Создать новый заказ</a></li>
              <li><a href="/main/update-order">Редактировать данные заказа</a></li>
              <li class="divider"></li>
              <li><a href="/main/add-product">Добавить товар в заказ</a></li>
              <li><a href="/main/update-product">Редактировать данные товара в заказе</a></li>
              <li class="divider"></li>
              <li><a href="/main/list">Посмотреть список всех товаров агентства</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" style="margin-right:25px;">
          <li id="logout"><a href="/logout">Выйти</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div ng-controller="ControllerAgency" id="block">
    <div class="container">
      <div id="add-product-form">
        <div id="info">
          <span>Форма создания нового заказа</span>
        </div>
        <div class="container-fluid">
          <span>Информация о клиенте</span> <br> <br>
          <div class="form-group">
            <label>Фамилия</label>
            <input type="text" class="form-control" ng-model="client.surname" placeholder="Фамилия клиента">
          </div>
          <div class="form-group">
            <label>Имя</label>
            <input type="text" class="form-control" ng-model="client.name" placeholder="Имя клиента">
          </div>
          <div class="form-group">
            <label>Отчество</label>
            <input type="text" class="form-control" ng-model="client.patronymic" placeholder="Отчество клиента">
          </div>
          <div class="form-group">
            <label >Контактная информация</label>
            <input type="text" class="form-control" ng-model="client.info" placeholder="Контактная информация клиента">
          </div>
            <!-- тут блок для ввода информации об исполнителе -->
          <span>Информация об исполнителе</span> <br> <br>
          <div class="form-group">
            <label>Фамилия</label>
            <input type="text" class="form-control" ng-model="employee.surname" placeholder="Фамилия сотрудника">
          </div>
          <div class="form-group">
            <label>Имя</label>
            <input type="text" class="form-control" ng-model="employee.name" placeholder="Имя сотрудника">
          </div>
          <div class="form-group">
            <label>Отчество</label>
            <input type="text" class="form-control" ng-model="employee.patronymic" placeholder="Отчество сотрудника">
          </div>
          <div class="form-group">
            <label >Должность</label>
            <input type="text" class="form-control" ng-model="employee.post" placeholder="Должность сотрудника">
          </div>
          <div class="form-group">
            <label >Контактная информация</label>
            <input type="text" class="form-control" ng-model="employee.phoneNumber" placeholder="Контактная информация сотрудника">
          </div>
          <button type="submit" class="btn btn-success" ng-click="addOrder()">Добавить</button>
        </div>
      </div>
    </div>
  </div>
  <!-- футер -->

  <footer class="blog-footer">
    <ul>
      <li><p>&copy; 2017 Galaxy Inc.</p></li>
      <li><img src="/resources/img/ico.png" alt=""></li>
    </ul>
  </footer>
  <script src="/resources/libs/js/angular.js"></script>
  <script src="/resources/js/application.js"></script>
</body>
</html>